.group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.group_item {
    margin: 6rem auto 1rem auto;
    padding: 50px 90px;
    text-align: start;
}

.group_item h4 {
    padding-top: 20px;
    font-size: 1.4rem;
}

.group_item p {
    font-size: 1rem;
    color: #696969;
}

.group_item a {
    padding: 15px;
    background-color: rgba(223, 15, 119);
    border-radius: 5px;
}

.group_item img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* Other web detail section */
.text {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info2 {
    text-align: center;
    width: 400px;
}

.line {
    width: 50px;
    height: 2px;
    background: rgba(223, 15, 119);
    margin: 10px auto;
}

/* Responsive group info */
@media screen and (max-width:890px) {
    .group {
        grid-template-columns: 1fr;
    }

    .group-item {
        margin: 2rem;
        padding: 30px;
        text-align: center;
    }
}