.main {
  min-height: 90vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(223, 15, 119, 0.8), rgba(231, 72, 106, 0.8), rgba(247, 156, 73, 0.8)),
    url(https://images.unsplash.com/photo-1670272502972-cccb4b96c4f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MjJ8fG9mZmljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  height: 85px;
  width: 100%;
  position: relative;
  padding: 20px 30px;
}

.navbar .logo {
  display: inline-block;
  color: #fff;
  padding: 20px;
}

.navbar .logo h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 5px;
}

.navbarMenu {
  display: inline;
  float: right;
  font-size: 0.9rem;
  padding: 20px;
}

.navbarMenu li {
  display: inline-block;
  padding: 0 20px;
}

.navbarMenu li a {
  text-decoration: none;
  color: #fff;
}

.navbarMenu li a:hover {
  color: #000;
  cursor: pointer;
}

.navbarMenu button {
  background-color: #4e4f50;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  color: #efefef;
  cursor: pointer;
}

/* homepage */
.container {
  display: flex;
  width: 100%;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
}

.container .info {
  width: 400px;
  max-width: 100%;
  color: #efefef;
}

.info p {
  padding: 5px 0;
}

.apple {
  mix-blend-mode: screen;
  border-radius: 5px;
  height: 45px;
}

.phone img {
  height: 60vh;
  position: relative;
  z-index: 100;
  filter: drop-shadow(0 0 0.75rem);
}

/* Section Divider */
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 360px;
  transform: rotateY(180deg);
}

.wave .shape_fill {
  fill: #FFFFFF;
}

@media screen and (max-width:1024px) {
  .container {
    flex-direction: column;
    padding: 0 20px;
  }

  .container .info {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .container .info h1 {
    font-size: 31px;
  }

  .container .info p {
    font-size: 16px;
  }

  .phone img {
    width: auto;
    height: 60vh;
  }
}

@media screen and (max-width:700px) {
  .container .info h1 {
    font-size: 25px;
  }

  .container .info p {
    font-size: 14px;
  }

  .phone img {
    width: auto;
    height: 50vh;
  }
}