.body {
    background-color: rgb(214, 214, 214);
    padding-bottom: 20px;
}

.header {
    padding: 50px;
    margin-top: 40px;
    text-align: center;
}

.header p {
    font-size: 0.75rem;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

.header h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.timeline {
    margin: 3em auto;
    margin-bottom: 0;
    max-width: 34.15em;
    padding-bottom: 30px;
}

.container, .container_odd {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint:nth-child(odd) {
    border-left: 2px solid #9c9c9c;
    padding-left: 10px;
    transform: translateX(16em);
}

.checkpoint:nth-child(even) {
    padding-right: 3em;
    transform: translateX(-270px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.checkpoint:nth-child(odd)::before{
    content: '';
    background: #9c9c9c;
    width: 2px;
    height: 4em;
    position: absolute;
    transform: translateX(-12px);
    top: -40px;
}

.checkpoint:nth-child(odd) div::before {
    content: '';
    background: #9c9c9c;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 2px;
    transform: translateX(-18px);
    border-radius: 50%;
}

.container_odd .contentImg {
    text-align: end;
}

.contentImg p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(223, 15, 119);
    padding-bottom: 25px;
}

.contentImg img {
    max-width: 300;
    height: auto;
    object-fit: cover;
}

.contentText {
    color: #434242;
}

.contentText h4 {
    padding-bottom: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.contentText p {
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (max-width:1150px) {
    .timeline {
        width: 80vw;
    }
    .container_odd {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .container_odd .contentImg {
        text-align: start;
    }    
    .container {
        display: flex;
        flex-direction: column;
    }
    .checkpoint:nth-child(odd) {
        width: 100%;
        transform: none;
        padding-left: 3em;
    }
    .checkpoint:nth-child(even) {
        width: 100%;
        transform: none;
        padding-left: 3em;
        border-right: none;
        border-left: 2px solid #9c9c9c;
        display: block;
    }
    .checkpoint:nth-child(odd)::before {
        display: none;
    }
    .timeline .checkpoint::before {
        width: 2px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .left_text {
        display: block;
    }
    .checkpoint:nth-child(odd) div::before{
        display: none;
    }
}